{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">Sobre</h1>

    <div class="mt-6 space-y-6">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione, id mollitia aspernatur quos illo reprehenderit minus sapiente neque maiores quaerat vitae fugiat magni esse nisi aut aperiam accusantium in!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione, id mollitia aspernatur quos illo reprehenderit minus sapiente neque maiores quaerat vitae fugiat magni esse nisi aut aperiam accusantium in!
        </p>
    </div>
{% endblock %}