{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-2xl text-slate-800">Filiais</h1>

    <a href="{% url 'branch:add' %}" class="py-4 px-8 mt-6 bg-slate-600 text-slate-300 inline-block">Nova Filial</a>

    <div class="mt-6 grid grid-cols-1 md:grid-cols-4 md:grid-rows-4 gap-4">
        {% for branch in branchs %}
            <div class="py-6 px-6 bg-slate-400">
                <a href="{% url 'branch:branch' branch.id %}">
                    <h2 class="mb-4 text-xl">{{ branch.name }}</h2>

                    <p class="text-sm text-slate-800">
                        <strong>Endereço:</strong> {{ branch.address }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}