{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-xl mx-auto py-8 bg-slate-400 text-center">
    <h1 class="text-2xl text-slate-800">Nova Viagem</h1>

    <form class="mt-6 px-8 space-y-4" method="post" action=".">
        {% csrf_token %}
        <div>
            <label class="text-slate-800">Veículo:</label>
            <select name="vehicle" type="text" class="w-full py-4 px-6 bg-slate-300 text-slate-800">
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle.id }}">{{ vehicle.model }} - {{ vehicle.plate }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <label class="text-slate-800">Origem:</label>
            <select name="origin" type="text" class="w-full py-4 px-6 bg-slate-300 text-slate-800">
                {% for branch in branches %}
                    <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label class="text-slate-800">Destino:</label>
            <select name="destiny" type="text" class="w-full py-4 px-6 bg-slate-300 text-slate-800">
                {% for branch in branches %}
                    <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <button class="py-4 px-8 bg-slate-600 text-slate-300">Adicionar</button>
        </div>
    </form>
</div>
{% endblock %}